<!DOCTYPE html>
<html lang="en" ng-app="WeatherInCity">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Weather</title>
		<meta name="author" content="Nazar Ivato" />
		<link rel="shortcut icon" href="weather.ico">
		<script src="js/lib/jquery-1.11.1.min.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>
		<script src="js/lib/angular.min.js"></script>
		<script src="js/weather.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/weather.css">
	</head>
	<body ng-controller="CitiesController as cts">
		<div class="page-header">
			<h1>&nbsp; Current Weather <small>in your city</small></h1>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-md-4"> </div>
				<div class="col-md-4">
					
					<form class="form" ng-submit="cts.submitCity()">
						<div class="form-group">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Enter your city" ng-model="cts.enteredCity" />
								<span class="input-group-addon btn btn-default" ng-click="cts.submitCity()"><span class="glyphicon glyphicon-search"> </span></span>
							</div>
						</div>
					</form>
					
					<div class="panel panel-default" ng-repeat="city in cts.cities track by $index" ng-controller="WeatherController as wthr" ng-init="wthr.initiate(city)">
						<div class="panel-heading">
							<button type="button" class="close pull-left" ng-click="cts.removeCity(city)"><span aria-hidden="true">&times;</span></button>
							<strong>{{wthr.city}}, {{wthr.country}} </strong>
							<span class="badge pull-right">{{wthr.temperature}} &deg;C</span>
						</div>
						<div class="panel-body">
							<img class="icon pull-right" ng-src="img/{{wthr.icon}}" alt="{{wthr.weather}}" />
							<div><strong>Temperature: </strong>{{wthr.temperature}}&deg;C</div>
							<div><strong>Pressure: </strong>{{wthr.pressure}} hPa</div>
							<div><strong>Humidity: </strong>{{wthr.humidity}}%</div>
							<div><strong>Weather: </strong>{{wthr.weather}}</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-4"> </div>
			</div>
		</div>
	</body>
</html>